<!DOCTYPE html>
<html>
  <head>
    <title>Testhackton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <%= stylesheet_pack_tag 'main' %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
